PORT=3001
DATABASE_URL=postgresql://postgres:SUASENHA@postgres:5432/olt_sentinel

ZABBIX_URL=https://zabbix.clickplay.rio/api_jsonrpc.php
ZABBIX_TOKEN=SEU_TOKEN_ZABBIX_AQUI

GRAFANA_URL=https://zabbix.clickplay.rio:8443
GRAFANA_TOKEN=SEU_TOKEN_GRAFANA_AQUI

WEBHOOK_URL=

NODE_TLS_REJECT_UNAUTHORIZED=0
